data/*
!data/.gitkeep
.env
build*
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
.env.
.venv/
venv/
.idea/
.vscode/
.history/
*.code-workspace
node_modules/
dist/
build/
.turbo/
.next/
out/
coverage/
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.coverage
.gradle/
bin/
obj/
*.db
*.sqlite
*.sqlite3
dump.sql
*.pid
*~