services:
  comfyui:
    container_name: comfyui
    image: atticusg3/comfyui-flux2:latest
    restart: unless-stopped
    ports:
      - "8188:8188"
    volumes:
      - "./data/models:/app/ComfyUI/models"
      - "./data/input:/app/ComfyUI/input"
      - "./data/output:/app/ComfyUI/output"
      - "./data/workflows:/app/ComfyUI/user/default/workflows"
    environment:
      - CLI_ARGS=
      - HF_TOKEN=${HF_TOKEN}
      - LOW_VRAM=${LOW_VRAM:-false}
      - MODELS_DOWNLOAD=${MODELS_DOWNLOAD:-klein-distilled}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]