services:
  comfyui:
    container_name: comfyui
    image: atticusg3/comfyui-flux2:latest
    restart: unless-stopped
    ports:
      - "8188:8188"
    volumes:
      - "./data:/app"
    environment:
      - CLI_ARGS=
      - HF_TOKEN=${HF_TOKEN}
      - HUNYUAN3D=${HUNYUAN3D:-false}
      - LOW_VRAM=${LOW_VRAM:-false}
      - MODELS_DOWNLOAD=${MODELS_DOWNLOAD}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]